n8n/workflow_convenio.json
{
  "name": "Convenio Avanta - Proceso Completo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "convenio-avanta",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-convenio",
      "name": "Webhook - Recibir Formulario",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "convenio-avanta"
    },
    {
      "parameters": {
        "jsCode": "// Normalizar y validar datos\nconst entrada = $input.item.json;\n\n// Funci贸n para capitalizar nombres\nfunction capitalizar(texto) {\n  return texto\n    .toLowerCase()\n    .split(' ')\n    .map(palabra => palabra.charAt(0).toUpperCase() + palabra.slice(1))\n    .join(' ');\n}\n\n// Funci贸n para limpiar tel茅fono\nfunction limpiarTelefono(tel) {\n  return tel.replace(/[^0-9+]/g, '');\n}\n\n// Funci贸n para validar email\nfunction validarEmail(email) {\n  const regex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  return regex.test(email);\n}\n\n// Normalizar datos\nconst datosNormalizados = {\n  timestamp: entrada.timestamp || new Date().toISOString(),\n  cliente: {\n    nombre: capitalizar(entrada.cliente.nombre),\n    apellidos: capitalizar(entrada.cliente.apellidos),\n    nombreCompleto: capitalizar(`${entrada.cliente.nombre} ${entrada.cliente.apellidos}`),\n    email: entrada.cliente.email.toLowerCase().trim(),\n    emailValido: validarEmail(entrada.cliente.email),\n    telefono: limpiarTelefono(entrada.cliente.telefono),\n    empresa: entrada.cliente.empresa.trim(),\n    empresaNormalizada: entrada.cliente.empresa.toUpperCase().trim()\n  },\n  convenio: {\n    numeroConvenio: `CNV-${Date.now()}`,\n    fecha: new Date().toLocaleDateString('es-MX'),\n    fechaISO: new Date().toISOString().split('T')[0],\n    estado: 'generado'\n  },\n  origen: entrada.origen || 'formulario_web',\n  validacion: {\n    datosCompletos: true,\n    emailValido: validarEmail(entrada.cliente.email),\n    timestamp: new Date().toISOString()\n  }\n};\n\n// Verificar que todos los campos requeridos est茅n presentes\nif (!datosNormalizados.cliente.nombre || \n    !datosNormalizados.cliente.apellidos || \n    !datosNormalizados.cliente.email || \n    !datosNormalizados.cliente.empresa) {\n  datosNormalizados.validacion.datosCompletos = false;\n  datosNormalizados.validacion.error = 'Faltan datos requeridos';\n}\n\nreturn datosNormalizados;"
      },
      "id": "normalizar-datos",
      "name": "Normalizar y Validar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.validacion.datosCompletos }}",
              "value2": true
            },
            {
              "value1": "={{ $json.validacion.emailValido }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "validar-datos",
      "name": "Validar Datos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://TU_API_CONVENIOS/generar-convenio",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "numeroConvenio",
              "value": "={{ $json.convenio.numeroConvenio }}"
            },
            {
              "name": "cliente",
              "value": "={{ $json.cliente }}"
            },
            {
              "name": "fecha",
              "value": "={{ $json.convenio.fechaISO }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "generar-convenio-pdf",
      "name": "Generar Convenio PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200],
      "notes": "Endpoint que genera el PDF del convenio"
    },
    {
      "parameters": {
        "operation": "send",
        "email": "={{ $json.cliente.email }}",
        "fromEmail": "comercial@avantahotel.com.mx",
        "fromName": "Avanta Hotel & Villas",
        "subject": "Convenio Empresarial - {{ $json.cliente.empresa }}",
        "message": "=<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #8BB152 0%, #6B9040 100%); color: white; padding: 30px; text-align: center; border-radius: 8px 8px 0 0; }\n    .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 8px 8px; }\n    .info-box { background: white; padding: 20px; border-left: 4px solid #7FA44A; margin: 20px 0; border-radius: 4px; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 14px; }\n    h1 { margin: 0; font-size: 28px; }\n    h2 { color: #7FA44A; font-size: 22px; margin-top: 0; }\n    .button { display: inline-block; background: #7FA44A; color: white; padding: 12px 30px; text-decoration: none; border-radius: 6px; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>隆Bienvenido a Avanta!</h1>\n    </div>\n    \n    <div class=\"content\">\n      <p>Estimado(a) <strong>{{ $json.cliente.nombreCompleto }}</strong>,</p>\n      \n      <p>Nos complace confirmar la recepci贸n de su solicitud de convenio empresarial para <strong>{{ $json.cliente.empresa }}</strong>.</p>\n      \n      <div class=\"info-box\">\n        <h2>Detalles del Convenio</h2>\n        <p><strong>N煤mero de Convenio:</strong> {{ $json.convenio.numeroConvenio }}</p>\n        <p><strong>Fecha de Emisi贸n:</strong> {{ $json.convenio.fecha }}</p>\n        <p><strong>Empresa:</strong> {{ $json.cliente.empresa }}</p>\n        <p><strong>Contacto:</strong> {{ $json.cliente.nombreCompleto }}</p>\n      </div>\n      \n      <p>Adjunto encontrar谩 el documento de convenio empresarial que incluye:</p>\n      <ul>\n        <li>Tarifas corporativas preferenciales</li>\n        <li>Condiciones especiales de reservaci贸n</li>\n        <li>Beneficios exclusivos para su empresa</li>\n        <li>T茅rminos y condiciones del convenio</li>\n      </ul>\n      \n      <p>Por favor, revise el documento adjunto y, de estar conforme, le pedimos firmarlo y devolverlo escaneado a este correo.</p>\n      \n      <h3>Pr贸ximos Pasos:</h3>\n      <ol>\n        <li>Revisar el convenio adjunto</li>\n        <li>Firmar el documento</li>\n        <li>Enviar copia escaneada a comercial@avantahotel.com.mx</li>\n        <li>Recibir confirmaci贸n y credenciales de acceso</li>\n      </ol>\n      \n      <p>Si tiene alguna pregunta o requiere modificaciones al convenio, no dude en contactarnos.</p>\n      \n      <div style=\"text-align: center; margin: 30px 0;\">\n        <p><strong>Ricardo Pe帽a</strong><br>\n        Ejecutivo Comercial<br>\n        Avanta Hotel & Villas</p>\n        <p>\n           comercial@avantahotel.com.mx<br>\n           {{ $json.cliente.telefono }}\n        </p>\n      </div>\n    </div>\n    \n    <div class=\"footer\">\n      <p>Este es un correo autom谩tico, por favor no responda a este mensaje.<br>\n      Para cualquier consulta, contacte directamente a nuestro equipo comercial.</p>\n      <p style=\"color: #7FA44A; font-weight: bold;\">Avanta Hotel & Villas</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "attachments": "={{ $json.pdfUrl }}"
        }
      },
      "id": "enviar-email",
      "name": "Enviar Email con Convenio",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP - Avanta"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "email": "comercial@avantahotel.com.mx",
        "fromEmail": "notificaciones@avantahotel.com.mx",
        "fromName": "Sistema Avanta",
        "subject": "Nueva Solicitud de Convenio - {{ $json.cliente.empresa }}",
        "message": "=<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #7FA44A; color: white; padding: 20px; text-align: center; }\n    .content { background: #f9f9f9; padding: 30px; }\n    .data-table { width: 100%; border-collapse: collapse; margin: 20px 0; background: white; }\n    .data-table td { padding: 12px; border: 1px solid #ddd; }\n    .data-table td:first-child { font-weight: bold; background: #f5f5f5; width: 40%; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2>Nueva Solicitud de Convenio Empresarial</h2>\n    </div>\n    \n    <div class=\"content\">\n      <p>Se ha recibido una nueva solicitud de convenio empresarial.</p>\n      \n      <table class=\"data-table\">\n        <tr>\n          <td>N煤mero de Convenio</td>\n          <td>{{ $json.convenio.numeroConvenio }}</td>\n        </tr>\n        <tr>\n          <td>Empresa</td>\n          <td>{{ $json.cliente.empresa }}</td>\n        </tr>\n        <tr>\n          <td>Contacto</td>\n          <td>{{ $json.cliente.nombreCompleto }}</td>\n        </tr>\n        <tr>\n          <td>Email</td>\n          <td>{{ $json.cliente.email }}</td>\n        </tr>\n        <tr>\n          <td>Tel茅fono</td>\n          <td>{{ $json.cliente.telefono }}</td>\n        </tr>\n        <tr>\n          <td>Fecha de Solicitud</td>\n          <td>{{ $json.convenio.fecha }}</td>\n        </tr>\n        <tr>\n          <td>Estado</td>\n          <td>{{ $json.convenio.estado }}</td>\n        </tr>\n      </table>\n      \n      <p><strong>Acci贸n requerida:</strong> El convenio ha sido enviado autom谩ticamente al cliente. Por favor, dar seguimiento a la firma del documento.</p>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "id": "notificar-equipo",
      "name": "Notificar a Equipo Comercial",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 380],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP - Avanta"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Convenio generado y enviado exitosamente\", \"numeroConvenio\": $json.convenio.numeroConvenio } }}"
      },
      "id": "respuesta-webhook",
      "name": "Respuesta al Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Datos incompletos o inv谩lidos\", \"error\": $json.validacion.error } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respuesta-error",
      "name": "Respuesta Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "create",
        "base": "appXXXXXXXXXXXX",
        "table": "Convenios",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Numero Convenio": "={{ $json.convenio.numeroConvenio }}",
            "Empresa": "={{ $json.cliente.empresa }}",
            "Contacto": "={{ $json.cliente.nombreCompleto }}",
            "Email": "={{ $json.cliente.email }}",
            "Telefono": "={{ $json.cliente.telefono }}",
            "Fecha": "={{ $json.convenio.fechaISO }}",
            "Estado": "={{ $json.convenio.estado }}"
          }
        },
        "options": {}
      },
      "id": "guardar-airtable",
      "name": "Guardar en Airtable (Opcional)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1120, 560],
      "disabled": true,
      "notes": "Opcional: Guardar en base de datos"
    }
  ],
  "connections": {
    "Webhook - Recibir Formulario": {
      "main": [
        [
          {
            "node": "Normalizar y Validar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar y Validar Datos": {
      "main": [
        [
          {
            "node": "Validar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos": {
      "main": [
        [
          {
            "node": "Generar Convenio PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Convenio PDF": {
      "main": [
        [
          {
            "node": "Enviar Email con Convenio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar a Equipo Comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email con Convenio": {
      "main": [
        [
          {
            "node": "Respuesta al Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
